<head></head>
<body>
<div class="container">
<div class="row" style="margin: auto">
  <div class="col-md-7 imgbox" style="margin-top: 20px">
    <img class="images center-fit" src={{image?.url}}/>
    </div>
    <div class="col-md-5" style="margin: auto" style="margin-top: 30px">
    <span  *ngFor="let description of image?.descriptions ">
      <button class="btn btn-primary hovertext" [attr.data-hover]="description?.confidence" (click)="navigateToGalleryByTag(description.tag)">{{description?.tag}}
      </button>
    </span>
      <p class="date text-muted">Analysed on: {{ image?.analysedTime}}</p>
    </div>
</div>
</div>
</body>
<router-outlet></router-outlet>
