img {
  width: 100%;
  object-fit: cover;
  /*height: 400px;*/
  margin-top: 20px;
  border-radius: 25px;
}

img:hover{
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.container {
  display: inline;
}

::ng-deep .dark  .mat-form-field-underline {
  background: whitesmoke !important;
  height: 3px !important;
}
::ng-deep .dark .mat-form-field.mat-focused .mat-form-field-label {
  color:whitesmoke !important;
}

::ng-deep .dark .mat-form-field-label {
  color:whitesmoke !important;
}

